<a href="https://colab.research.google.com/github/webstarO/CovidEDA/blob/main/CovidEDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Install and Import the necessary tools for your analysis**

In [1]:
pip install pyforest

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyforest
  Downloading pyforest-1.1.0.tar.gz (15 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: pyforest
  Building wheel for pyforest (setup.py) ... done
  Created wheel for pyforest: filename=pyforest-1.1.0-py2.py3-none-any.whl size=14606 sha256=731545f39c2ba2ebdf7719e01ec79c5c72442fed3cd5948eb00477f4ef6acf6a
  Stored in directory: /root/.cache/pip/wheels/d5/1a/3e/6193fe1c56168f5df4aef57d8411033ba4611881135d495727
Successfully built pyforest
Installing collected packages: pyforest
Successfully installed pyforest-1.1.0

In [2]:
#this will import all modules
import pyforest

In [3]:
import pandas as pd

**Bring your data into the notebook. Describe the data to view summary**

In [4]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/owid-covid-data.csv')

**Check up top 5 rows**

In [5]:
df.head(5)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [6]:
#remove all null values
df.isnull().sum()

iso_code                                        0
continent                                   14688
location                                        0
date                                            0
total_cases                                 14548
                                            ...
population                                   1122
excess_mortality_cumulative_absolute       252923
excess_mortality_cumulative                252923
excess_mortality                           252923
excess_mortality_cumulative_per_million    252923
Length: 67, dtype: int64

In [7]:
df1 = df.dropna()

In [8]:
print(df1)

Empty DataFrame
Columns: [iso_code, continent, location, date, total_cases, new_cases, new_cases_smoothed, total_deaths, new_deaths, new_deaths_smoothed, total_cases_per_million, new_cases_per_million, new_cases_smoothed_per_million, total_deaths_per_million, new_deaths_per_million, new_deaths_smoothed_per_million, reproduction_rate, icu_patients, icu_patients_per_million, hosp_patients, hosp_patients_per_million, weekly_icu_admissions, weekly_icu_admissions_per_million, weekly_hosp_admissions, weekly_hosp_admissions_per_million, total_tests, new_tests, total_tests_per_thousand, new_tests_per_thousand, new_tests_smoothed, new_tests_smoothed_per_thousand, positive_rate, tests_per_case, tests_units, total_vaccinations, people_vaccinated, people_fully_vaccinated, total_boosters, new_vaccinations, new_vaccinations_smoothed, total_vaccinations_per_hundred, people_vaccinated_per_hundred, people_fully_vaccinated_per_hundred, total_boosters_per_hundred, new_vaccinations_smoothed_per_million, new_people_vaccinated_smoothed, new_people_vaccinated_smoothed_per_hundred, stringency_index, population_density, median_age, aged_65_older, aged_70_older, gdp_per_capita, extreme_poverty, cardiovasc_death_rate, diabetes_prevalence, female_smokers, male_smokers, handwashing_facilities, hospital_beds_per_thousand, life_expectancy, human_development_index, population, excess_mortality_cumulative_absolute, excess_mortality_cumulative, excess_mortality, excess_mortality_cumulative_per_million]
Index: []

[0 rows x 67 columns]

In [9]:
continent = df.groupby("continent")

In [10]:
print(continent)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f243fd8e910>

In [11]:
#basic information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261730 entries, 0 to 261729
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    261730 non-null  object
 1   continent                                   247042 non-null  object
 2   location                                    261730 non-null  object
 3   date                                        261730 non-null  object
 4   total_cases                                 247182 non-null  float64
 5   new_cases                                   246860 non-null  float64
 6   new_cases_smoothed                          245656 non-null  float64
 7   total_deaths                                227457 non-null  float64
 8   new_deaths                                  227368 non-null  float64
 9   new_deaths_smoothed                         226182 non-null  float64
 10  total_cases_per_million                     246060 non-null  float64
 11  new_cases_per_million                       245738 non-null  float64
 12  new_cases_smoothed_per_million              244539 non-null  float64
 13  total_deaths_per_million                    226348 non-null  float64
 14  new_deaths_per_million                      226259 non-null  float64
 15  new_deaths_smoothed_per_million             225078 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                33307 non-null   float64
 18  icu_patients_per_million                    33307 non-null   float64
 19  hosp_patients                               36158 non-null   float64
 20  hosp_patients_per_million                   36158 non-null   float64
 21  weekly_icu_admissions                       8766 non-null    float64
 22  weekly_icu_admissions_per_million           8766 non-null    float64
 23  weekly_hosp_admissions                      20678 non-null   float64
 24  weekly_hosp_admissions_per_million          20678 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          72453 non-null   float64
 35  people_vaccinated                           69351 non-null   float64
 36  people_fully_vaccinated                     67018 non-null   float64
 37  total_boosters                              41192 non-null   float64
 38  new_vaccinations                            59891 non-null   float64
 39  new_vaccinations_smoothed                   157511 non-null  float64
 40  total_vaccinations_per_hundred              72453 non-null   float64
 41  people_vaccinated_per_hundred               69351 non-null   float64
 42  people_fully_vaccinated_per_hundred         67018 non-null   float64
 43  total_boosters_per_hundred                  41192 non-null   float64
 44  new_vaccinations_smoothed_per_million       157511 non-null  float64
 45  new_people_vaccinated_smoothed              157437 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  157437 non-null  float64
 47  stringency_index                            185194 non-null  float64
 48  population_density                          228173 non-null  float64
 49  median_age                                  210939 non-null  float64
 50  aged_65_older                               208716 non-null  float64
 51  aged_70_older                               209836 non-null  float64
 52  gdp_per_capita                              210736 non-null  float64
 53  extreme_poverty                             137188 non-null  float64
 54  cardiovasc_death_rate                       210305 non-null  float64
 55  diabetes_prevalence                         221414 non-null  float64
 56  female_smokers                              159578 non-null  float64
 57  male_smokers                                157395 non-null  float64
 58  handwashing_facilities                      103780 non-null  float64
 59  hospital_beds_per_thousand                  187588 non-null  float64
 60  life_expectancy                             240265 non-null  float64
 61  human_development_index                     205659 non-null  float64
 62  population                                  260608 non-null  float64
 63  excess_mortality_cumulative_absolute        8807 non-null    float64
 64  excess_mortality_cumulative                 8807 non-null    float64
 65  excess_mortality                            8807 non-null    float64
 66  excess_mortality_cumulative_per_million     8807 non-null    float64
dtypes: float64(62), object(5)
memory usage: 133.8+ MB

In [12]:
#data types
df.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,2.471820e+05,2.468600e+05,2.456560e+05,2.274570e+05,227368.000000,226182.000000,246060.000000,245738.000000,244539.000000,226348.000000,...,157395.000000,103780.000000,187588.000000,240265.000000,205659.000000,2.606080e+05,8.807000e+03,8807.000000,8807.000000,8807.000000
mean,5.384986e+06,1.167321e+04,1.172018e+04,8.052034e+04,125.673397,126.234794,75083.484988,175.987819,176.583097,760.064887,...,32.821984,50.889167,3.088983,73.595397,0.724512,1.405100e+08,5.315074e+04,10.310701,13.967308,1524.602805
std,3.304079e+07,8.156610e+04,7.929066e+04,4.098317e+05,732.523501,679.000930,125962.151825,1120.504085,663.428730,1034.865353,...,13.539671,31.881922,2.551279,7.446593,0.149552,6.915909e+08,1.444128e+05,13.129721,25.736074,1856.357022
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,0.001000,0.000000,0.000000,0.000000,...,7.700000,1.188000,0.100000,53.280000,0.394000,4.700000e+01,-3.772610e+04,-28.450000,-95.920000,-1984.281600
25%,5.883000e+03,0.000000e+00,4.286000e+00,1.250000e+02,0.000000,0.000000,1412.013500,0.000000,0.872000,34.921000,...,21.600000,20.859000,1.300000,69.500000,0.602000,8.367830e+05,9.625000e+01,1.080000,0.110000,57.300138
50%,6.271950e+04,3.500000e+01,7.542900e+01,1.365000e+03,0.000000,1.143000,14308.708500,4.500000,15.659000,253.791000,...,33.100000,49.839000,2.500000,75.050000,0.742000,6.948395e+06,7.425699e+03,8.030000,7.540000,953.884640
75%,6.548138e+05,8.040000e+02,9.853217e+02,1.111000e+04,11.000000,13.143000,89351.666000,82.212000,121.001500,1152.243000,...,41.300000,83.241000,4.200000,79.070000,0.838000,3.369661e+07,3.845240e+04,16.240000,19.065000,2453.471550
max,6.758607e+08,4.082893e+06,3.436564e+06,6.876859e+06,60902.000000,14860.286000,726205.264000,228872.025000,36421.827000,6446.040000,...,78.100000,100.000000,13.800000,86.750000,0.957000,7.975105e+09,1.273323e+06,76.550000,376.770000,10251.770000

Warning: Total number of columns (62) exceeds max_columns (20) limiting to first (20) columns.